
.even {
    background-color:rgb(240, 255, 255) ;
  }
  // .odd {
  //   background-color:rgb(195, 219, 219) ;
  // }
   .negative {
    background-Color: "rgba(157, 255, 118, 0.49)";
    color: #1a3e72;
    font-weight: "600";
  }
  .positive {
    background-Color: #d47483;
  }